<script src="/static/includes/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/includes/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="static/jquery.fancybox.min.css">
<link rel="stylesheet" href="static/nav.css">

<nav class="navbar navbar-expand-md navbar-dark bg-theme sticky-top">

    <a class="navbar-brand" href="/"> Urgent Alert</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarsExampleDefault">
        <style scoped>
            @media (max-width: 768px) {
                .navbar-nav{
                    max-width: auto;
                    background-color:rgba(25,25,112);
                    color: white;
                    text-align: center;
                    border-radius: 3px;
                    margin-top: 10px;
                }
                .navbar-dark .navbar-nav .active>.nav-link {
                    color: black;}
                .navbar-dark .navbar-nav .nav-link {
                    color: rgba(25,25,112);}
                .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
                    color: rgba(255,255,255,.75); }
            }
        </style>
        <ul class="navbar-nav mr-auto">
            <li {%- if request.path == "/home/" or request.path == "/"%} class="nav-item active" {% else %} class="nav-item"{% endif %}>
                <a class="nav-link" href="/">Home </a>
            </li>
            <li {%- if request.path == "/about"%} class="nav-item active" 
                {% else %} class="nav-item"{% endif %} >
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-top: 0px;">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/OKULLO/urgent"><img src="/static/img/home/github_logo.png"  width="15" height="15" class="d-inline-block align-center"> GitHub</a>
            </li>
        </ul>
    </div>
</nav>
